body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #3a3a3a;
  color: #f9f9f9
}

#root {
  width: 50vw;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input {
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  border: #be0f0f;
  width: 100%;
  text-align: center;
}


span.new-task {
  color: #fcfafa;
font-size: 25px;
padding-bottom: 15px;
}

form.new-task-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
  border: #61dafb 1px solid;
  border-radius: 5px;
  padding: 20px;
  margin: 2rem auto;
  max-width: 500px;
  text-transform: uppercase;
  background-color: #0481a4;
}

button {
  opacity: 0.6;
  background-color: #c2c2c2;
  border-radius: 20px;
  margin-top: 10px;
  padding: 5px 10px;
}

label {
  justify-items: left;
  zoom: 105%;
}

ul>li {
  list-style-type: none;
}



#submit-button:active:hover {
  background-color:#14003a;
  color: #16db04;
  cursor: pointer;
  transition: 0.5s;
  opacity: 1;
}



#return {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

#main {
  display: flexbox;
  padding: 10px;
justify-content: center;
align-items: center;
}

#return-button {
  padding: 5px 30px;
  border-radius: 50px;
  cursor: pointer;
}

.sort-date-btn {
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-btn {
  cursor: pointer;
font-size: 12px;
background-color: #6c6868;
border: 1px solid #474747;
}


table {
  background-color: #585858;
  display: flexbox;
  border: 2px solid #5e5d5d;
  padding-bottom: 10px;
  justify-content:space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: aliceblue;
}

td {
  background-color: #676767;
  border-radius: 5px;
  padding: 5px;
  width: 40%;
  margin: 10px;
}

tr {
  border: 1px solid #61dafb;
}

th {
  padding: 10px;
}